body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100vw;
    height: 100vh;
}

#filter {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #fff;
    top: 60px;
    right: 10px;
    z-index: 50;
    border-radius: 7px;
    padding: 10px 13px;
    -webkit-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 8px -8px rgba(0,0,0,0.29);
}

.field {
    padding: 10px;
    margin: 3px 2px 3px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    flex-grow: 1;
}

.fields-inline {
    display: flex;
    justify-content: space-between;
}

.submit {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0;
    margin: 3px 0 15px;
}

.submit div {
    display: flex;
    flex-direction: row-reverse;
}

.sub {
    font-size: 0.7rem;
    color: grey
}

.sub2 {
    font-size: 0.7rem;
    color: grey;
    padding-bottom: 10px;
}

#status {
    font-size: 0.7rem;
    padding: 3px 0;
    margin-right: 12px;
}